{% extends 'plantilla.html' %}
{% load static %}
{% block body %}

<h1 class="text-center">Listado de Sistemas Operativos</h1>
<hr><br>

<div class="text-end">
  <a href="nuevoSO" class="btn btn-primary">Agregar Sistema Operativo</a>
</div>
<br>

<table class="table table-bordered table-striped table-hover" id="tbl_so">
  <thead class="table-dark text-center">
    <tr>
      <th>ID</th>
      <th>NOMBRE</th>
      <th>VERSIÓN</th>
      <th>DOCUMENTO</th>
      <th>ACCIONES</th>
    </tr>
  </thead>
  <tbody>
    {% for so in sistemas_operativos %}
    <tr>
      <td class="text-center">{{ so.id }}</td>
      <td>{{ so.nombre }}</td>
      <td>{{ so.version }}</td>
      <td class="text-center">
        {% if so.documentacion %}
          <a class="btn btn-sm btn-outline-secondary" href="{{ so.documentacion.url }}" target="_blank">
            <i class="fa fa-file-pdf"></i> Ver PDF
          </a>
        {% else %}
          <span class="text-muted">Sin PDF</span>
        {% endif %}
      </td>
      <td class="text-center">
        <a class="btn btn-sm btn-outline-warning" href="editarSO/{{so.id}}">
          <i class="fa fa-pen"></i>
        </a>
        <button class="btn btn-sm btn-outline-danger" onclick="eliminarSO('{{ so.id }}')">
          <i class="fa fa-trash"></i>
        </button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<script>
  function eliminarSO(id) {
    Swal.fire({
      title: "CONFIRMACIÓN",
      text: "¿Está seguro de eliminar el sistema operativo?",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Sí, eliminar"
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "/eliminarSO/" + id;
      }
    });
  }

</script>
<script>
  $(document).ready(function() {
      let table = new DataTable('#tbl_so', {
          language: {
              url: 'https://cdn.datatables.net/plug-ins/2.3.1/i18n/es-ES.json'
          },
          dom: 'Bfrtip', 
          buttons: [
              'copy',
              'csv',
              'excel',
              'pdf',
              'print'
          ]
      });
  });
</script>

{% endblock %}
